<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRICULUM</title>
</head>
<body>
    <h1>CURRICULUM VITAE</h1>
    <img width="100" src="{{url_for('static',filename='imgcv.jpg')}}" alt="Foto">

    <h2>Datos personales</h2>

    <p>Nombre: Genesis Gianella Mendoza Coque</p>
    <p>Edad: 35 años</p>
    <p>Estado Civil: soltera</p>
    <p>Direccion: Samanes 6</p>
    <p>Cel: 0992978726</p>
    <p>Correo: genesismendoza19@gmail.com</p>

    <h2>Estudios Realizados</h2>
    <p>Primaria: Escuela Santa Luisa de Marillac</p>
    <p>Secundaria: Colegio 28 de Mayo</p>
    <p>Educacion Superior: Universidad de Guayaquil</p>

    <h2>Experiencia Laboral</h2>
    <ul>
    <li>Empresa: Induauto S.A.</li>>
    <li>Duracion: 1 de junio 2010 hasta la actualidad</li>>
</ul>

<h2>FODA</h2>
<table border="3">
    <tr>
        <td><strong>Fortalezas</strong></td> <td><strong>Oportunidades</strong></td>
    </tr>

    <tr>
        <td>Aprender rapido</td>  <td>Oportunidades de negocio</td>

    </tr>
</table>
</body>
</html>
